<footer id="footerDiv" style="margin-top:215px;">
   <img src="images/logoShare50.png" style="float:left; margin-left:15px;margin-top:15px;"/>
    <p style="margin-top:40px; margin-right:150px;font-family:'arial';">
      powered by <b> Rick</b><br>
      email us at <b>rajdeepmukhrj@gmail.com</b><br>
      <img  rel="icon" id="githubLogo" src="images/GitHub-Mark/PNG/GitHub-Mark-32px.png"/>:  <b>riflerRick</b>
    </p>
</footer>
