<% include initials %>
<title id="titleValue"><%= page %></title>
</head>
<!-- one important factor here is that you cannot -->
<% include header %>

<body>
  <script type="text/javascript" src="friendRequestPage.js"></script>
  <div class="panel panel-default" id="dynComponent">
    <div class="panel-body">

      <div class="well" id="wellContent">
        <!-- <div class="alert alert-warning"><h3><strong>You are already friends with </strong></h3></div> -->
        <div class="alert alert-warning"><h3><strong>Friend Request successfully sent</strong></h3></div>
      </div>
    </div>
  </div>

</body>



<% include footer %>
</html>
