<!--
this is the main page of the user or you may say dashboard of the user.
-->
<body>
  <!--  We will get feeds here and so we will have a div component and inside that we will have -->
  <div class="container-fluid" id="outerDivComponent">

  </div>
  <script src="indexPage.js"></script>
</body>
