<!--
this is the main page of the user or you may say dashboard of the user.
-->
<!DOCTYPE html>
<html>
<head>
  <title>index</title>
</head>
<body>
  hello, so the session just started.
  lets now log out.
<form method="post" action="/logout">
  <input role="button" type="submit">Log out</input>
</form>
</body>
</html>
