<!--  This view is rendered when the there are no friends of a particular user and hence there is really nothing to display-->
<body>
  <!--  We will get feeds here and so we will have a div component and inside that we will have -->
  <div class="container-fluid" id="outerDivComponent">
    <div class="well" style="margin-left:auto;margin-right:auto;width:400px;">
      <h1 style="text-align:center;">Well! Its time to make some friends</h1>
    </div>
  </div>

</body>
