<% include initials %>
<title id="titleValue"><%= page %></title>
<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/datetimepicker/latest/DateTimePicker.min.css" /> -->
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/datetimepicker/latest/DateTimePicker.min.js"></script> -->
</head>
<!-- one important factor here is that you cannot -->
<body>


<script type="text/javascript" src="indexPage.js"></script>
<nav class="navbar navbar-default" style="background-color: #1c8ce9; border-color:  #1c8ce9;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white;font-family:'ar cena'; font-size:25pt;" href="#"><strong>Share50</strong></a>
    </div>

    <form id="friendRequestForm" class="navbar-form navbar-left" method="post" action="friendRequest">
            <div class="form-group">
              <input type="text" id="searchFriends" class="form-control" placeholder="Search Friends">
              <select class="form-control" name="friendList" id="friendList" style="visibility:hidden;">
              </select>
              <button type="submit" class="btn btn-default" id="friendRequest" style="visibility:hidden;">Make Friend</button>
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <li><a href="/" ><b class="navList">Home</b></a></li>
        <li><a href="/tours" ><b class="navList">Tours</b></a></li><!--href is what tells us where to go in that link.-->
        <li><a href="/parties" ><b class="navList">Parties</b></a></li>
        <li><a href="/profile" ><b class="navList">Profile</b></a></li>
        <li><a href="/logout" ><b class="navList">Logout</b></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





  <div class="container-fluid" id="dynComponent">
    <!--  id="dynComponent"-->
    <!-- <div class="panel-body" > -->

      <!--  Here we are gonna have a grid system that is divided into parts, one that will contain a link to go to tours and
    the other that will contain a link to go to parties.-->



    <!-- </div> -->
  </div>

  <div class="container-fluid" id="thumbnailContainer">

        <div class="row">
          <div class="col-sm-6">
            <!--  so here we will have the basic stuff in order to get the grid have a panel-->
            <!-- <div class="panel panel-default" id="tourComponent"> -->
              <!-- <div class="panel panel-body"> -->
                <!-- <div class="thumbnail" id="tourThumbnail"> -->
                  <img src="images/image3.jpg" alt="tour" style="width:350px;height:250px;">
                  <!-- <div class="caption"> -->
                    <h3>Tours</h3>
                    <p>
                      Plan your tours and invite friends to join you for that tour. Share all photos with your friends
                      and make the cherish those memories later.
                    </p>
                    <p><a href="myTours" class="btn btn-primary" role="button">My Tours</a></p>
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
          <div class="col-sm-6">
            <!-- <div class="panel panel-default" id="partyComponent"> -->
              <!-- <div class="panel panel-body"> -->
                <!-- <div class="thumbnail" id="partyThumbnail"> -->
                  <img src="images/image2.jpg" alt="party" style="width:350px;height:250px;">
                  <!-- <div class="caption"> -->
                    <h3>Parties</h3>
                    <p>
                      Plan your party and invite friends to join you for that party. Share your favourite moments imprint them on
                      the timeline. Cherish those moments later.
                    </p>
                    <p><a href="myParties" class="btn btn-primary" role="button">My Parties</a></p>
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
  </div>

</body>
<p id="uid" style="visibility:hidden;"><%= uid  %></p>
<% include footer %>
</html>
