<% include initials %>
<title id="titleValue"><%= page %></title>
</head>
<!-- one important factor here is that you cannot -->
<% include header %>
<body>
  <!-- <span id="contentIsFilled"><%= content %></span> -->
  <div class="panel panel-default" id="dynComponent">
    <div class="panel-body">
      <p id="contentIsFilled"><%= content %></p>
      <div class="well" id="wellContent">
        <!-- <button id="wellContentButton" >Click me</button> -->

      </div>

      <!--  The above technique is the way we include js files into the ejs template-->
    </div>
  </div>
  <script type="text/javascript" src="indexContentGenerator.js"></script>
</body>
<% include footer %>
</html>
