<% include initials %>
<title id="titleValue"><%= page %></title>
</head>
<!-- one important factor here is that you cannot -->
<% include header %>

<body>

  <!-- <script type="text/javascript" src="friendRequestPage.js"></script> -->
  <!-- <div class="container-fluid" style="width:1000px;"> -->
  <!-- <div class="well" style="margin:auto; width:700px;">These friends have sent requests to you</div><br> -->
  <div class="panel panel-default" id="dynComponent">

    <div class="panel-body">

      <div class="well" id="wellContent">
        <div class="alert alert-success">
          <strong>Your party has been created</strong>
          <br><p>Your friends will be able to check your party out and choose to join you<br><strong>Enjoy!!!</strong></p>
        </div>

      </div>

      <!--  The above technique is the way we include js files into the ejs template-->
    </div>
  </div>
<!-- </div> -->
</body>
<% include footer %>
</html>
