<% include initials %>
<title id="titleValue"><%= page %></title>
</head>
<!-- one important factor here is that you cannot -->
<% include header %>

<body>
  
  <div class="panel panel-default" id="dynComponent">
    <div class="panel-body">
      <!-- <p id="contentIsFilled"><%= content %></p> -->
      <!-- <div id="tourAlert" class="alert alert-warning" role="alert" style="visibility:hidden;"></div> -->
      <!-- <div id="partyAlert" class="alert alert-warning" role="alert" style="visibility:hidden;"></div> -->
      <div class="well" id="wellContent">
        <!-- <button id="wellContentButton" >Click me</button> -->

      </div>

      <!--  The above technique is the way we include js files into the ejs template-->
    </div>
  </div>
  <!-- <script type="text/javascript" src="indexContentGenerator.js"></script> -->
  <!-- <script type="text/javascript" src="indexPage.js"></script> -->
</body>

<% include footer %>
</html>
