/*body
{
  background-color: #ffff99;
}*/
.slideImage
{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height:75%;
  width:100%;
  -webkit-filter: blur(3px) grayscale(50%);
  filter:blur(3px) grayscale(50%);
  /*-webkit-filter: grayscale(50%);
  filter:grayscale(50%);*/
  background-size: cover;
}
#leftButton
{
  margin-top: auto;
  margin-bottom: auto;
}
#rightButton
{
  margin-top: auto;
  margin-bottom: auto;
}
.slideTitle
{

  margin-bottom: 100px;
  text-shadow:2px 2px 5px black;
}
.slideBody
{
  margin-bottom: 400px;
  text-shadow:2px 2px 5px black;
}
.dummy
{
  margin-bottom: 250px;
}
.thumbnail
{
  opacity: 0.5;
}

#footerDiv
{
  color:white;
  font-size: 10pt;
  text-align: center;
  /*background-color:#050514;*/
  background-color: #1c8ce9;
  height:75px;
  
}
#githubLogo
{
  width:20px;
  height:20px;
}
.navbar-default{
  background-color: #1c8ce9;
  border-color:  #1c8ce9;
}
.navbar-brand
{
  color: white;
}
